@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}


.gradient-background {
  background: linear-gradient(90deg, #005470 0%, #6CD8C3 100%);
}
.swiper-pagination {
  position: absolute;
  bottom: 110px !important; /* Ajusta la distancia del borde inferior */
  left: 50%;
  transform: translateX(-50%);
}
.swiper-pagination .swiper-pagination-bullet{
  width: 20px !important; 
  height: 20px !important;
  background: #d2d2d2 !important;
}
.swiper-pagination .swiper-pagination-bullet-active{
  background: #ffffff !important;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

@media (max-width: 768px) {
  .slider {
    height: 90vh !important;
    background-size: 150%;
    background-position: left bottom; 
  }
  .swiper-pagination {
    bottom:70px !important;
  }
  .swiper-pagination .swiper-pagination-bullet{
    width:  15px !important; 
    height: 15px !important;
  }
}
